html {
background:white;
}

/*_header.html.erb CSS*/
.navBar {

background-color: red;
text-align: center;
color: black;
margin: 1em;
-moz-border-radius:    10px;
-webkit-border-radius: 10px;
border-radius:         10px;
width: auto;
}


.navBar ul li{
color: black;
display:inline-block;
padding: 0em 2em;
}

.navBar ul li a{
color: black;
}

.navBar ul{
text-align:center;
padding:0em;
}

/*Home Page*/
.signup_button {
width:25%;
position:absolute;
left:37.5%;
top:25%;
background: black;
-moz-border-radius:    10px;
-webkit-border-radius: 10px;
border-radius:         10px;
color:black;
font-size:200%;
text-align:center;
padding:1em;
}

.signup_button a {
text-decoration:none;
color:white;
}
