<div class="header">
  <div class="navBar">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "News", '/news' %></li>
      <li><%= link_to "About", '/about' %></li>
    </ul>
  </div>
</div>

